
.table {
  padding-top: 40px;

  .row {
    display: flex;
    flex-direction: row;

    .date {
      padding: 10px;
      font-size: 13px;
      width: 70px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
    }

    .time {
      flex-grow: 1;
      font-size: 13px;
      transform: translateX(-10%) rotate(30deg);
      min-width: 46px;
    }
  }
}
