
:host {
  display: flex;
  margin: 3px;
  flex-grow: 1;
  border-radius: 2px;
  transition: linear 0.2s;
  min-width: 40px;
  min-height: 40px;

  &:hover {
    background-color: #ff4081 !important;
    color: #fff !important;
    cursor: pointer;
  }

  .inner {
    width: 100%;
    padding-top: 100%;
    position: relative;

    .content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
    }
  }
}
